
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/roboto/roboto-v20-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/roboto/roboto-v20-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto/roboto-v20-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto/roboto-v20-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto/roboto-v20-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto/roboto-v20-latin_cyrillic-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

h1{
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 20px;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.feedback_form {
	height: 392px;
	width: 481px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: #F6F4F8;
	border-radius: 12px;
	filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));

}
.form__head {
	margin-right: 50%;
}
.form__content {
	display:flex;
	flex-direction: column;
}

.field {
	width: 386px;
	height: 48px;
	margin-top: 20px;
	padding-left: 15px;

	border-radius: 6px;
	border:none;
	box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);

	font-size: 15px;
	font-family: 'Roboto';
 	font-style: normal;
   font-weight: 400;

   outline-width:1px;
}

.field:focus{
	outline-color:#854FC8;
}

.form__footer {}
.button {
	width: 401px;
	height: 48px;

	margin-bottom: 10px;
	margin-top: 20px;

	border:none;
	border-radius: 6px;
	background: #6979F8;

	font-size: 17px;
	font-family: 'Roboto';
	color: #FFF;

	cursor: pointer;
}
.mouse_enter{
  width: 401px;
	height: 48px;

	margin-bottom: 10px;
	margin-top: 20px;

	border:none;
	border-radius: 6px;
	background: #854FC8;

	font-size: 17px;
	font-family: 'Roboto';
	color: #FFF;

	cursor: pointer;
}

.error{
	color: #F00;
	padding: 0px;
	font-size: 15px;
	margin-top: 3px;
}

.errored_field{
	margin-top: 0px;
	width: 386px;
	height: 48px;
	padding-left: 15px;

	border-radius: 6px;
	border:none;
	box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);

	font-size: 15px;
	font-family: 'Roboto';
 	font-style: normal;
   font-weight: 400;

	outline-width:1px;
	outline-color:#854FC8;
}
